
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of carrito">
      <th scope="row">{{item.id}}</th>
      <td>{{item.cantidad}}</td>
      <td>{{item.precio}}</td>

    </tr>
  </tbody>
</table>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let producto of productos " >
    <div class="card border-primary" style="width: 18rem;">
      <img src="./../../assets/img/{{producto.imagen}}" class="card-img-top img-fluid" alt="..." height="100px" width="100px">
      <div class="card-body">
        <h5 class="card-title">{{ producto.nombre }}</h5>
        <p class="card-text"> precio :{{producto.precio}}</p>
        <a class="btn btn-primary" (click)="seleccionarProducto(producto)">Seleccionar</a>
      </div>
    </div>
  </div>
</div>
